.signupForm{
    display: flex;
    flex-direction: column;
    width:auto; 
    
}

.signupInput,.signupSubmitButton,.DemoButton{
  max-height:25%;
  /* font-size: 1em; */
  /* outline: none; */
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0.5em auto;
  padding: 1.2em 2.8em;
  background: none;

}
.signupSubmitButton,.DemoButton{
    width:40%;
    border: none;
    color:#183a1d; 
    font-size: large;
    font-weight: bold;
    margin: 0.2em auto;
    height:15px;
    text-align: center; 

}

label,input{
    display: block;
    
}

.signupInputWrapper,.signupSubmitWrapper{
    display: flex;
    margin:auto 10px;
    justify-content: center;
    align-items: center;
}

.error{
    color:#f0a04b;
}

.loginInSignup{
    display: inline;
    border: none;
    background: none;
    border-bottom: 1px solid gray;
    color:#183a1d;
    font-weight: bold;
}

.loginWrapper{
    margin: 10px;
}