.signupForm{
    display: flex;
    flex-direction: column;
    width:auto;
}

.signupInput,.signupSubmitButton,.DemoButton{
  
  width:520px;
  height:25px;
  font-size: 1em;
  /* outline: none; */
  border: 1px solid lightgray;
  border-radius: 0.9;
  margin: 1.5em auto;
  padding: 1.5em 1.5em;
  background: none;


}
.signupSubmitButton,.DemoButton{
    width:135px;
    border: none;
    color:#183a1d; 
    font-size: 20px;
    font-weight: bold;
    margin: 0.2em auto;
    height:15px;
    text-align: center; 

}

label,input{
    display: block;
    
}

.signupInputWrapper,.signupSubmitWrapper{
    display: flex;
    margin:auto 10px;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.error{
    color:#f0a04b;
}

.loginInSignup{
    display: inline;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    font-weight: bold;
    color:#183a1d;
}

.loginWrapper{
    margin: 10px;
}