.eachListing{
    border: 1px solid lightgray;
    margin:2%;
    border-radius: 10px;
    overflow: auto;
    height:280px;
   
}

.img{
    width:50%;
    min-width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.intro{
    margin-left: 2%;
   
}