

.loginInput,.loginSubmitButton{
  

  height:25%; 
  /* font-size: 1em; */
  /* outline: none; */
  border: 1px solid lightgray;
  border-radius: 10px;
  /* margin: 1.5em auto; */
  /* padding: 1.5em 1.5em; */
  background: none;


}
.loginSubmitButton{
    width:135px;
    border: none;
    color:#183a1d; 
    font-size: 20px;
    font-weight: bold;
    margin: 0.2em auto;
    height:15px;
    text-align: center; 

}

label,input{
    display: block;
    
}

.loginInputWrapper,.loginSubmitWrapper{

    display: flex;
    /* margin:auto 10px; */
    font-size: 1em;
    font-weight: bold;
    justify-content: start;
    align-items: start;
}

.error{
    color:#f0a04b;
}


