.reviewForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
   
}
.reviewInput, .reviewInput2{
  
  /* outline: none; */
  border: 1px solid lightgray;
  border-radius: 5px;
  /* margin: 0.8em 0;  */
  padding: 1.5em;
  background: none;

}

.reviewInput2{
     resize:none;
     width: 120%;
     display: block; 
     

}



.reviewFormButton{
    font-size: larger;
    font-weight: bolder;
    text-align: center; 
    margin:5%;
    padding:2%, 10%;
   
}

label,input{
    display: block; 
    margin:1.5%;  

}


.error{
    color:#f0a04b;   
}


