.reviewForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;

}
.reviewInput{
  
  /* outline: none; */
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0.8em 0; 
  padding: 1.5em 7em;
  background: none;

}



.reviewFormButton{
    font-size: larger;
    font-weight: bolder;
    text-align: center; 
    margin:5%;
    padding:2%, 10%;
   
}

label,input, textarea{
    display: block; 
    margin:2%;  
    font-weight: bold;
    /* font-size: large; */
}

label{
    font-size: larger;

}


.error{
    color:#f0a04b;   
}


