.loginForm{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width:auto;
    /* max-width: 100%; */
}

.loginInput,.loginSubmitButton,.DemoButton{
  
  max-height:25%;
  /* font-size: 1em; */
  /* outline: none; */
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 1em auto;
  padding: 1.2em 3em;
  background: none;


}
.loginSubmitButton,.DemoButton{
    width:40%;
    border: none;
    color:#183a1d; 
    font-size: large;
    font-weight: bold;
    margin: 0.2em auto;
    height:15px;
    text-align: center; 

}

label,input{
    display: block;
    
}

.loginInputWrapper,.loginSubmitWrapper{
    display: flex;
    margin:auto 10px;
    /* font-size: 1em; */
    /* font-weight: bold; */
    justify-content: center;
    align-items: space-around;
}

.error{
    color:#f0a04b;
}

.signupInLogin{
    display: inline;
    border: none;
    background: none;
    border-bottom: 1px solid gray;
    font-weight: bold;
    color:#183a1d;
}

.signupWrapper{
    margin: 10px;
}